@page {
	size: 11in 8.5in;
}

.one_column_box {
	width:98%;
}
.two_columns_box {
	width:49%;
}
.indent {
	padding-left:10px;
}
.icon_help {
	background-position:0 -79px;
}
.list_table {
	/*  margin-left:40px;  // make it always center */
	padding-top:5px;
}
.list_table th, .list_table td {
	padding: 10px;
}
.list_table thead th{
	/*//20171116 - BIQ Veracode Security fixes - Print needs font size*/
	font-size: 11px;
	font-weight:bold;
	border-bottom:1px solid #666;
}
.twoColumn_table, h4 {
	margin-left:10px;
	padding-top:5px;
}
.twoColumn_table td {
	padding: 0 5px;
}
.right-align {
	text-align:right;
}

/*
ul {
	list-style-type:disc;
	padding-left:40px;
}
li {
	list-style-type:disc;
}
*/

.float_box {
	float:left;
	/*margin-right: 1%;*/
}

.float_right_box {
	float:right;
}
